.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar li {
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }